.copywriting-section{
    position: relative;


    .copywriting-description{
        margin-top: 50px;
        p{
            margin-left: 1em;
        }
    }
    
    .curve{
        position: absolute;
        bottom: -36px;
        z-index: -1;
        transform: rotate(180deg);
    }
}

.copywriting-post-container{
    margin-top:55px;
    margin-left:1em;

    .copywriting-post{
        margin-bottom: 35px;
        margin-left:1.5em;
        
        h3{
            margin-bottom: 5px;
            font-weight: 500;
        }
        a{
            color: #E3879E;
            font-weight: 700;
        }
    }
}